*,
*::after,
*::before {
    margin: 0px;
    box-sizing: border-box;
}
:root {
    /*Primary colors*/
    --Light_red: hsl(0, 100%, 67%);
    --Orangey_yellow: hsl(39, 100%, 56%);
    --Green_teal: hsl(166, 100%, 37%);
    --Cobalt_blue: hsl(234, 85%, 45%);
    /*Gradient colors*/
    --Light_slate_blue_background: hsl(252, 100%, 67%);
    --Light_royal_blue_background: hsl(241, 81%, 54%);
    --Violet_blue_circle: rgba(78, 33, 202, 0.901);
    --Persian_blue_circle: hsla(241, 72%, 46%, 0);
    /*Neutral colors*/
    --White: hsl(0, 0%, 100%);
    --Pale_blue: hsl(221, 100%, 96%);
    --Light_lavender: hsl(241, 100%, 89%);
    --Dark_gray_blue: hsl(224, 30%, 27%);
}
body {
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
    height: 100%;
}
.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--Violet_blue_circle), var(--Light_royal_blue_background));
    gap: 5px;
    border-radius: 0px 0px 30px 30px;
}
.section1__div1 {
    margin: 15px 0px 15px;
    color: var(--Light_lavender);
    font-size: 0.9rem;
}
.section1__div2 {
    background: linear-gradient(var(--Violet_blue_circle) 50%, var(--Persian_blue_circle));
    display: flex;
    flex-direction: column;
    border-radius: 70px;
    padding: 13px 30px;
}
.div2__span1 {
    font-weight: bold;
    font-size: 3.5rem;
    color: var(--White);
    text-align: center;
}
.div2__span2 {
    text-align: center;
    color: var(--Light_lavender);
    opacity: 0.5;
    font-size: 0.9rem;
}
.section1__div3 {
    margin: 0px 40px;
}
.div__h2 {
    text-align: center;
    color: var(--Pale_blue);
}
.div__p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 47px;
    color: var(--Light_lavender);
    font-size: 1rem;
}
.section2 {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
}
.section2__main {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.div__container:nth-child(1){
   background: rgba(255, 0, 0, 0.059);
}
.div__container:nth-child(2){
    background-color: rgba(249, 184, 5, 0.059);
}
.div__container:nth-child(3){
    background-color: rgba(16, 199, 47, 0.059);
}
.div__container:nth-child(4){
    background-color: rgba(0, 0, 255, 0.059);
}
.div__container:nth-child(1) h3 {
    color: var(--Light_red);
}
.div__container:nth-child(2) h3 {
    color: var(--Orangey_yellow);
}
.div__container:nth-child(3) h3 {
    color: var(--Green_teal);
}
.div__container:nth-child(4) h3 {
    color: var(--Cobalt_blue);
}
.div__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.div__category {
    display: flex;
    gap: 15px;
    padding: 18px;
}
.div2__category {
    font-weight: 600;
    font-size: 1rem;
}
.div__category h3 {
    font-weight: 600;
    font-size: 1rem;
    
}
.div2__span {
    margin-right: 15px;
    color: var(--Dark_gray_blue);
    opacity: 0.5;
}
.div__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.button__continue {
    background-color: var(--Dark_gray_blue);
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    border-radius:30px;
    font-size: 1.2rem;
}
@media screen and (min-width: 768px){
    .main {
        padding: 0px 80px;
}
}
@media screen and (min-width: 1024px) {
    .main {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100vh;
    } 
    .section1 {
        border-radius: 30px 30px 30px 30px;
        width: 30%;
        height: 80%;
        gap: 15px;
    }
    .section2 {
        box-shadow: 10px 0px 20px 0px #00000017;
        border-radius: 0px 30px 30px 0px;
        padding: 25px;
        width: 35%;
        margin-left: 0px;
    }
    .div__h2 {
        margin: 0px 0px 20px;
        font-size: 2rem;
    }
    .div__p {
        margin: 15px;
        font-size: 1.2rem; 
    }
}
@media screen and (min-width: 1440px) {
    .section1 {
        height: 70%;
        width: 30%;
    }
    .section1__div2 {
        border-radius: 100px;
        padding: 59px 69px;
    }
    .section2 {
        padding: 40px ;
        height: 70%;
        width: 30%;
        gap: 24px;
        padding-bottom: 0px;
    }
    .div2__span1 {
        font-size: 4rem;
    }
    .div__p {
        margin-bottom: 30px; 
    }
}
